<ion-popover-view class="animated flipInY">
    <ion-header-bar class="bar-assertive">
        <h1 class="title">
            <i class="icon ion-ios-cart"></i> Cart
            <button class="button button-clear assertive icon ion-ios-close-empty" style="float: right;    margin-top: 5px;" ng-click="closePopover()"></button>
        </h1>
    </ion-header-bar>
    <ion-content>
        
        <div class="list" ng-if="cartdata.total_quantity">
          
            <a class="item item-icon-right" href="#/app/cart">
                <h2>Total Price: &nbsp;{{cartdata.total_price}}/-</h2>
                <p>
                    <span >Total Quantity:&nbsp; {{cartdata.total_quantity}}</span>
                </p>
                <i class="icon ion-ios-arrow-right" ng-click="closePopover()"></i>
            </a>
            <div class="item item-avatar-left item-icon-right" ng-repeat="cdata in cartdata.cart_data">
                <img src="img/product/{{cdata.image}}" class="animated slideInUp">
                <p>{{cdata.title}}</p>
                <p>{{cdata.quantity}} {{cdata.unit}}  -  Total :{{cdata.quantity * cdata.price}}/- </p>
                <button class="button-clear icon ion-ios-close-empty " style="color: #000;margin-top: 16px;margin-right: -12px;" ng-click="removeCart(cdata.product_id)"></button>
            </div>
        </div>
         
        <div ng-if="!cartdata">
           
            <div class="item">
                <h2>No Item Found</h2>
            </div>
        </div>
    </ion-content>
</ion-popover-view>